dns:
  default-nameserver:
  - 223.5.5.5
  - 119.29.29.29
  direct-nameserver:
  - 223.5.5.5
  - 119.29.29.29
  direct-nameserver-follow-policy: false
  enable: true
  enhanced-mode: fake-ip
  fake-ip-filter:
  - '*.lan'
  - '*.local'
  - '*.arpa'
  - time.*.com
  - ntp.*.com
  - time.*.com
  - +.market.xiaomi.com
  - localhost.ptlogin2.qq.com
  - '*.msftncsi.com'
  - www.msftconnecttest.com
  fake-ip-filter-mode: blacklist
  fake-ip-range: 198.18.0.1/16
  fallback:
  - https://8.8.8.8/dns-query
  - tls://1.1.1.1:853
  - tls://dns.google:853
  fallback-filter:
    domain:
    - +.google.com
    - +.facebook.com
    - +.youtube.com
    - +.github.com
    geoip: true
    geoip-code: CN
    ipcidr:
    - 240.0.0.0/4
    - 0.0.0.0/32
  ipv6: false
  listen: :53
  nameserver:
  - https://doh.pub/dns-query
  - https://dns.alidns.com/dns-query
  prefer-h3: false
  proxy-server-nameserver:
  - tls://1.1.1.1:853
  respect-rules: false
  use-hosts: false
  use-system-hosts: false
