[user]
    name = derekuang
    email = kuangyaode@gmail.com

[core]
    autocrlf = input
    protectNTFS = false

[init]
    defaultBranch = main

[safe]
    directory = *

[alias]
    lg = log --graph --oneline --all --decorate
    pf = push --force-with-lease

[fetch]
    prune = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[branch "main"]
    mergeoptions = --no-ff

[submodule]
    recurse = true
