{{ if eq .osid "linux-fedora" -}}
#!/usr/bin/env bash

{{ range .packages.fedora.dnf -}}
if ! rpm -q --quiet {{ . }}; then
    sudo dnf install {{ . | quote }} --allowerasing
fi
{{ end -}}

{{ range .packages.fedora.rpm -}}
if ! rpm -q --quiet {{ .name }}; then
    curl -L -o ~/tmp/{{ .name }}.rpm {{ .url }}
    sudo dnf install ~/tmp/{{ .name }}.rpm
fi
{{ end -}}

{{ range .packages.fedora.flatpak -}}
if ! flatpak info {{ . }} >/dev/null 2>&1; then
    flatpak install flathub {{ . | quote }}
fi
{{ end -}}

{{ end -}}
