#!/usr/bin/env bash
{{ if eq .osid "linux-fedora" -}}

# 设置zsh为默认shell
if [ ! "$(basename -- "$SHELL")" = "zsh" ]; then
    chsh -s $(which zsh)
fi

# kanata系统服务
sudo cp {{ .chezmoi.config.sourceDir -}}/system/services/kanata.service /etc/systemd/system/
sudo systemctl daemon-reload
sudo systemctl enable kanata.service

# jellyfin系统服务
sudo systemctl enable jellyfin

# 设置fcitx5为默认输入法
imsettings-switch fcitx5

# 设置gtk程序配置
add_gtk_im_module() {
    local file_path="$1"

    if [[ ! -f "$file_path" ]]; then
        return 0
    fi

    if ! grep -q "^gtk-im-module" "$file_path"; then
        echo "gtk-im-module=fcitx" >> "$file_path"
    fi
}
add_gtk_im_module {{ .chezmoi.homeDir -}}/.gtkrc-2.0
add_gtk_im_module {{ .chezmoi.homeDir -}}/.config/gtk-3.0/settings.ini
add_gtk_im_module {{ .chezmoi.homeDir -}}/.config/gtk-4.0/settings.ini
add_gtk_im_module {{ .chezmoi.homeDir -}}/.config/gtk-5.0/settings.ini

# 其它：
# 手动安装NVIDIA驱动
# 重启生效关闭SELinux

{{ end -}}

{{ if eq .osid "darwin" -}}

# yazi插件
if ! ya pack -l | grep 'full-border' &>/dev/null; then
    ya pack -a yazi-rs/plugins:full-border
fi

{{ end -}}
