{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

# 设置zsh为默认shell
if [ ! "$(basename -- "$SHELL")" = "zsh" ]; then
    chsh -s $(which zsh)
fi

# kanata系统服务
sudo cp {{ .chezmoi.config.sourceDir -}}/system/services/kanata.service /etc/systemd/system/
sudo systemctl daemon-reload
sudo systemctl enable kanata.service

# 设置fcitx5为默认输入法
imsettings-switch fcitx5

# 单独安装verysync
if [ ! -d "/usr/bin/verysync" ]; then
    curl -k https://www.verysync.com/shell/verysync-linux-installer/go-installer.sh > {{ .chezmoi.homeDir -}}/tmp/go-installer.sh
    chmod +x {{ .chezmoi.homeDir -}}/tmp/go-installer.sh
    sudo {{ .chezmoi.homeDir -}}/tmp/go-installer.sh
fi

{{ end -}}
