{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

# 代理
# 换源
#sudo sed -e 's|^metalink=|#metalink=|g' \
#    -e 's|^#baseurl=http://download.example/pub/fedora/linux|baseurl=https://mirrors.tuna.tsinghua.edu.cn/fedora|g' \
#    -i.bak \
#    /etc/yum.repos.d/fedora.repo \
#    /etc/yum.repos.d/fedora-updates.repo
#sudo dnf makecache

# Terra软件源
sudo dnf install --nogpgcheck --repofrompath 'terra,https://repos.fyralabs.com/terra$releasever' terra-release

# copr第三方源
{{ range .packages.fedora.copr -}}
sudo dnf copr enable {{ . }}
{{ end -}}
{{ end -}}
