[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/usr/bin/kanata --cfg /home/kyd/kanata.kbd
Restart=no

[Install]
WantedBy=graphical.target
