[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/var/home/kyd/.local/bin/kanata --cfg /var/home/kyd/kanata.kbd
Restart=no

[Install]
WantedBy=multi-user.target
